BOT_TOKEN=
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:5432/DB
ADMIN_IDS=8735103455
PREMIUM_ADMIN_USERNAME=Xamidov_xalal
LOCKSMM_API_URL=https://locksmm.com/api/v2
LOCKSMM_API_KEY=
LOCKSMM_NUMBER_API_URL=https://locksmm.uz
HUMO_CARD=
VISA_CARD=
MASTERCARD_CARD=
CARD_OWNER=Xamitjonov Abdulxamid
PROOF_CHANNEL_ID=@FastSmm_buyurtmalar
WEBHOOK_SECRET=
WEBAPP_URL=
